<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.megaphone.cordova.ContactLookup" version="0.1.0" xmlns="http://www.phonegap.com/ns/plugins/1.0" >
    <name>ContactLookup</name>
    <author>Elliot Stokes</author>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="ContactLookup" src="www/ContactLookup.js">
        <clobbers target="cordova.plugins.ContactLookup" />
    </js-module>

    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ContactLookup">
           <param name="android-package" value="com.megaphone.cordova.contacts.ContactLookup"/>
           <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/ContactLookup.java" target-dir="src/com/megaphone/cordova/contacts"/>
      <source-file src="src/android/ContactManager.java" target-dir="src/com/megaphone/cordova/contacts"/>
    </platform>

    <platform name="ios">
      <hook type="after_plugin_install" src="hooks/add_swift_support.js" />

      <header-file src="src/ios/cordova-plugin-ContactLookup-Bridging-Header.h" />
      <source-file src="src/ios/ContactLookup.swift" />
      <source-file src="src/ios/MPContact.swift" />
      <source-file src="src/ios/MPPhoneNumberFormatter.swift" />
      <framework src="AddressBook.framework" weak="true" />

      <config-file target="config.xml" parent="/*">
        <feature name="ContactLookup">
          <param name="ios-package" value="ContactLookup" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
    </platform>
</plugin>
